<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gauth admin contents</title>
    <script src='/v1/js/jquery-3.2.1.js'></script>
    <link rel="stylesheet" href="/v1/bootstrap/css/bootstrap.min.css">
    <script src="/v1/bootstrap/js/bootstrap.min.js"></script>
    <script src="contents.js"></script>
    <style>
        .create_label {
            min-width:150px;
        }
        .create_input {
            min-width:300px;
        }
        .div-center {
            display: block;
            text-align: center;
        }
        .table-responsive th {
            text-align:center;
        }
        .td-center {
            text-align:center;
        }
        .scopeDiv {
            display: none;
        }

    </style>
</head>
<body>
<br/>
<br/>
<div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#client" aria-controls="client" role="tab" data-toggle="tab">클라이언트</a>
        </li>
        <li role="presentation">
            <a href="#user" aria-controls="user" role="tab" data-toggle="tab">회원(인증)</a>
        </li>
        <li role="presentation">
            <a href="#waitUser" aria-controls="waitUser" role="tab" data-toggle="tab">회원(미인증)</a>
        </li>
        <li role="presentation" style="float:right;">
            <a href="#logout" aria-controls="token" role="tab" data-toggle="tab" id="logout">Logout</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="client">
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        클라이언트
                        <button class="btn btn-success" style="float:right;" data-toggle="modal" data-target="#createClientModal">생성</button>
                    </h3>

                    <div class="table-responsive">
                        <table class="table table-bordered" id="clientList">
                            <colgroup>
                                <col width="20%">
                                <col width="25%">
                                <col width="15%">
                                <col width="25%">
                                <col width="5%">
                                <col width="5%">
                                <col width="5%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>아이디</th>
                                <th>시크릿키</th>
                                <th>도메인</th>
                                <th>설명</th>
                                <th>스코프</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 클라이언트 등록 모달 -->
            <div class="modal fade" id="createClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">클라이언트 등</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline">
                                <label class="create_label">클라이언트 아이디 *</label>
                                <input class="form-control create_input" id="c_clientId">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">클라이언트 도메인 *</label>
                                <input class="form-control create_input" id="c_domain">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">설명</label>
                                <input class="form-control create_input" id="c_desc">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" id="createClient">저장</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 클라이언트 수정 모달 -->
            <div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">클라이언트 수정</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline">
                                <label class="create_label">아이디</label>
                                <input class="form-control create_input" disabled="disabled" id="u_clientId">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">시크릿키</label>
                                <input class="form-control create_input" disabled="disabled" id="u_secretKey">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">도메인</label>
                                <input class="form-control create_input" id="u_domain">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">설명</label>
                                <input class="form-control create_input" id="u_desc">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" id="updateClientSubmit">저장</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 스코프 등록 모달 -->
            <div class="modal fade" id="createScopeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">스코프 등록</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline">
                                <label class="create_label">클라이언트</label>
                                <input class="form-control create_input" id="c_scope_clientId" disabled="disabled">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">스코프 아이디 *</label>
                                <input class="form-control create_input" id="c_scope_scopeId">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">설명</label>
                                <input class="form-control create_input" id="c_scope_desc">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">기본값 여부</label>
                                <input type="checkbox" id="c_scope_isDefault" value="1">
                                <label for="c_scope_isDefault">사용</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" id="createScopeSubmit">저장</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 스코프 수정 모달 -->
            <div class="modal fade" id="updateScopeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">스코프 수정</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline">
                                <label class="create_label">아이디</label>
                                <input type="hidden" disabled="disabled" id="u_scope_ClientId">
                                <input class="form-control create_input" disabled="disabled" id="u_scope_scopeId">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">설명</label>
                                <input class="form-control create_input" id="u_scope_desc">
                            </div>
                            <div class="form-inline">
                                <label class="create_label">기본값 여부</label>
                                <input type="checkbox" id="u_scope_isDefailt" value="1">
                                <label for="c_scope_isDefault">사용</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" onclick="updateScopeSubmit();">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="user">
            <!--유저 조회-->
            <!--유저 권한 조정-->
            <div class="row">
                <div class="col-sm-12">
                    <h2>회원(인증) 조회</h2>
                    <div class="form-inline div-center">
                        <label>검색</label>
                        <input class="form-control" id="searchUserInput">
                        <button id="searchUserBtn" class="btn btn-info">조회</button>
                    </div>
                    <br/><br/>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="userList">
                            <colgroup>
                                <col width="10%">
                                <col width="15%">
                                <col width="10%">
                                <col width="15%">
                                <col width="20%">
                                <col width="10%">
                                <col width="10%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>이메일</th>
                                    <th>이름</th>
                                    <th>전화번호</th>
                                    <th>주소</th>
                                    <th>회사</th>
                                    <th>가입일</th>
                                    <th>클라이언트</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="updateUserClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">클라이언트 정보</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>클라이언트 목록</h3>
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="userClientList">
                                            <colgroup>
                                                <col width="10%">
                                                <col width="45%">
                                                <col width="45%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>선택</th>
                                                    <th>클라이언트</th>
                                                    <th>스코프</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>스코프 추가/삭제</h4>
                                    <div class="">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" id="updateUserSubmit">저장</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="waitUser">
            <!--유저 조회-->
            <!--유저 권한 조정-->


        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
</body>
</html>