<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scope">

    <!--<select id="findClientIdByScopes" parameterType="Scope" resultType="Scope">-->
        <!--select scope_id-->
        <!--, client_id-->
        <!--, description-->
        <!--, is_default-->
        <!--from Scope-->
        <!--where client_id = #{clientId}-->
    <!--</select>-->

    <insert id="insertScope" parameterType="Scope">
        INSERT INTO Scope
        (scope_id,
        client_id,
        description,
        is_default)
        VALUES
        (#{scopeId},
        #{clientId},
        #{description},
        #{isDefault}
        )
    </insert>

    <delete id="deleteScope" parameterType="Scope">
        DELETE FROM Scope
        WHERE scope_id = #{scopeId}
        AND client_id = #{clientId}
    </delete>

    <select id="findScopes" parameterType="Scope" resultType="Scope">
        select scope_id
        , client_id
        , description
        , is_default
        from Scope
        where client_id = #{clientId}
        <if test="scopeId != null and scopeId != ''">
            AND scope_id = #{scopeId}
        </if>
        <if test="isDefault != null and isDefault != ''">
            AND is_default != #{isDefault}
        </if>
    </select>

    <update id="updateScope" parameterType="Scope">
        UPDATE Scope
        SET description = #{description}
          , is_default = #{isDefault}
        where scope_id = #{scopeId}
        AND client_id = #{clientId}
    </update>

    <select id="findByDefailtScopes" parameterType="String" resultType="Scope">
        select scope_id
        , client_id
        , description
        , is_default
        from Scope
        where is_default != 0
          AND client_id = #{param1}
    </select>

</mapper>
