<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

    <insert id="insertUser" parameterType="User">
            INSERT INTO User
                    (user_id,
                    password,
                    email,
                    name,
                    register_date,
                    phone,
                    address,
                    company)
                    VALUES
                    (
                    #{userId},
                    #{password},
                    #{email},
                    #{name},
                    now(),
                    #{phone, jdbcType=NVARCHAR},
                    #{address, jdbcType=NVARCHAR},
                    #{company, jdbcType=NVARCHAR}
                    )
    </insert>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM User WHERE user_id = #{param1}
    </delete>

    <select id="isUserId" resultType="Integer" parameterType="String">
            SELECT count(*)
              FROM User
             where upper(user_id) = upper(#{param1})
    </select>

    <select id="findByUser" resultType="User" parameterType="String">
            SELECT user_id,
                   password,
                   email,
                   name,
                   register_date,
                   phone,
                   address,
                   company
             FROM User
            WHERE user_id = #{param1}
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE User
           SET password = #{password},
               email = #{email},
               name = #{name},
               phone = #{phone},
               address = #{address},
               company = #{company}
         WHERE user_id = #{userId}
    </update>

    <select id="fienByTokenToUserInfo" parameterType="String" resultType="User">
        SELECT user_id,
               email,
               name,
               register_date,
               phone,
               address,
               company,
               #{tokenId} as token
         FROM User
        where user_id = (select user_id
                           from Token
                          where token_id = #{tokenId})
    </select>

    <select id="findByUsers" resultType="User" parameterType="String">
        SELECT user_id,
               email,
               name,
               register_date,
               phone,
               address,
               company
         FROM User
         <if test="_parameter != null and _parameter != ''">
         WHERE user_id = #{_parameter}
             or email = #{_parameter}
             or company = #{_parameter}
             or name = #{_parameter}
         </if>

    </select>

    <insert id="insertPendingUser" parameterType="PendingUserResponse">
        insert into Pending (email, activate_key, status, expire_date, retry_url)
        values(
        #{email}, #{activateKey}, #{status}, #{expireDate},#{retryUrl}
        )
    </insert>

    <select id="findByPendingUser" parameterType="PendingUserResponse" resultType="PendingUserResponse">
        select email
              , status
              , activate_key
              , expire_date
              , retry_url
          from Pending
          where activate_key = #{activateKey}
    </select>

    <select id="findByLastPending" parameterType="String" resultType="PendingUserResponse">
        select email
        , status
        , activate_key
        , expire_date
        , retry_url
        from Pending
        where email = #{param1}
        order by expire_date desc
        limit 1
    </select>

    <delete id="deletePendingUser" parameterType="String">
        DELETE FROM Pending WHERE email = #{param1}
    </delete>

    <update id="updatePendingStatus" parameterType="PendingUserResponse">
        update Pending
            set status = #{status}
          where activate_key = #{activateKey}
    </update>

    <select id="isEmail" parameterType="String" resultType="Integer">
        select count(*) as count
        from User
        where email = #{param1}
    </select>



</mapper>
