<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userClientScope">

    <select id="findUserCount" parameterType="User" resultType="Integer">
        SELECT count(*)
          FROM UserClientScope
         WHERE user_id = #{userId}
    </select>

    <insert id="insertUserClientScope" parameterType="UserClientScope">
        INSERT INTO UserClientScope
        (user_id,
        scope_id,
        client_id)
        VALUES
        (#{userId},
        #{scopeId,jdbcType=VARCHAR},
        #{clientId})
    </insert>

    <select id="findByUserClientScope" parameterType="UserClientScope" resultType="UserClientScope">
        SELECT user_id,
               scope_id,
               client_id
          FROM UserClientScope
         where user_id = #{userId}
        <if test="scopeId != null and scopeId != ''">
            and scope_id = #{scopeId}
        </if>
           and client_id = #{clientId}
    </select>

    <delete id="deleteClient" parameterType="String">
        DELETE FROM UserClientScope
        WHERE client_id = #{clientId}
    </delete>

    <delete id="deleteUserClientScope" parameterType="UserClientScope">
        DELETE FROM UserClientScope
         WHERE user_id = #{userId}
           AND client_id = #{clientId}
    </delete>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM UserClientScope
         WHERE user_id = #{param1}
    </delete>

    <select id="fintUserMappingList" parameterType="User" resultType="UserClientScope">
        SELECT user_id,
        scope_id,
        client_id
        FROM UserClientScope
        where user_id = #{userId}
    </select>

    <select id="isUserClientScope" parameterType="AuthenticationRequest" resultType="Integer">
        SELECT count(*)
        FROM UserClientScope
        where user_id = #{userId}
          AND client_id = #{clientId}
    </select>

    <select id="findByScopeIdList" parameterType="UserClientScope" resultType="String">
        SELECT scope_id
        FROM UserClientScope
        where user_id = #{userId}
        AND client_id = #{clientId}
    </select>

</mapper>
