<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userClientScope">
    
    <select id="findRelationByUsers" resultType="UserClientScope" parameterType="java.util.List">
        SELECT user_code,
        scope_id,
        client_id
        FROM UserClientScope
        <foreach collection="list" close=")" item="user" open="where user_code in (" separator=",">
            #{user}
        </foreach>
        order by client_id
    </select>
    
    <select id="findRelationCount" parameterType="User" resultType="Integer">
        SELECT count(*)
          FROM UserClientScope
         WHERE user_code = #{userCode}
    </select>

    <insert id="insertRelation" parameterType="UserClientScope">
        INSERT INTO UserClientScope
        (user_code,
        scope_id,
        client_id)
        VALUES
        (#{userCode},
        #{scopeId,jdbcType=VARCHAR},
        #{clientId})
    </insert>

    <select id="findRelation" parameterType="UserClientScope" resultType="UserClientScope">
        SELECT user_code,
               scope_id,
               client_id
          FROM UserClientScope
         where user_code = #{userCode}
        <if test="scopeId != null and scopeId != ''">
            and scope_id = #{scopeId}
        </if>
           and client_id = #{clientId}
    </select>

    <select id="findUserCodeByRelation" parameterType="Integer" resultType="UserClientScope">
        SELECT user_code,
        scope_id,
        client_id
        FROM UserClientScope
        where user_code = #{param1}
    </select>

    <!--<delete id="deleteRelationByUserCode" parameterType="UserClientScope">-->
        <!--DELETE FROM UserClientScope-->
         <!--WHERE user_code = #{userCode}-->
        <!--<if test="clientId != null and clientId != ''">-->
            <!--AND client_id = #{clientId}-->
        <!--</if>-->
    <!--</delete>-->

    <select id="findUserCodeByRelations" parameterType="User" resultType="UserClientScope">
        SELECT user_code,
        scope_id,
        client_id
        FROM UserClientScope
        where user_code in (select user_code
                              from User
                            where user_id = #{userId})
    </select>

    <select id="isRelationCount" parameterType="AuthenticationRequest" resultType="Integer">
        SELECT count(*)
        FROM UserClientScope
        where user_code = #{userCode}
          AND client_id = #{clientId}
    </select>

    <delete id="deleteUserClientScope" parameterType="UserClientScope">
        DELETE FROM UserClientScope
         WHERE client_id = #{clientId}
        <if test="scopeId != null and scopeId != ''">
            and scope_id = #{scopeId}
        </if>
        <if test="userCode != null and userCode != ''">
            and user_code = #{userCode}
        </if>
    </delete>

</mapper>
