<html>
<head>
    <title>가입 대기</title>
    <script src="/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/gauth/gauth.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>회원 가입</h1>
            <div>
                <h3>1. 메일 인증</h3>
                <h5>2. 회원 가입</h5>
                <h5>3. 로그인</h5>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <h4>
                1단계 : 메일 인증 요청 하기
            </h4>
            <p>
                * 사전 준비 : 어드만에서 클라이언트 등록 (ex: gncloud)
            </p>

            <div class="row">
                <div class="col-sm-6">
                    <h4>요청</h4>
                    <div class="input-group">
                        <span class="input-group-addon">클라이언트ID</span>
                        <input id="clientId" type="text" class="form-control" aria-label="UserId" aria-describedby="basic-addon1" placeholder="gncloud" value="gncloud"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">이메일</span>
                        <input id="email" type="text" class="form-control" aria-label="UserId" aria-describedby="basic-addon1" placeholder="jwkim@gncloud.kr"/>
                    </div>

                </div>
                <button type="button" id="submit" class="btn btn-success">요청</button>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>응답</h4>
                    <span id="pendingRes">요청하면 결과 나옵니다.</span>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <h4>
                2 단계 : 회원 가입
            </h4>
            <p>
                회원 정보 입력 후 activateKey와 함께 회원정보를 요청
            </p>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">아이디</span>
                    <input type="text" class="form-control" placeholder="UserId" aria-label="UserId" aria-describedby="basic-addon1"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">비밀번호</span>
                    <input type="password" class="form-control" placeholder="UserId" aria-label="UserId" aria-describedby="basic-addon2"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3"></span>
                    <input type="text" class="form-control" placeholder="UserId" aria-label="UserId" aria-describedby="basic-addon3"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4">ID</span>
                    <input type="text" class="form-control" placeholder="UserId" aria-label="UserId" aria-describedby="basic-addon4"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon5">ID</span>
                    <input type="text" class="form-control" placeholder="UserId" aria-label="UserId" aria-describedby="basic-addon5"/>
                </div>
            </div>
        </div>
    </div>






</div>


<script type="javascript">
    $(function(){

        $('#submit').click(function(){
            var email = $('#email').val();
            var clientId = $('#clientId').val();
            if(email !== undefined){
                if(clientId !== undefined){
                    var data = JSON.stringify({
                        "url": "/activates",
                        "type": "post",
                        "body": {
                            "clientId": clientId,
                            "email": email
                        }
                    });
                    $.gauth.api(data, callback);
                }else{
                    alert('client id length 0');
                }
            }else {
                alert('email length 0');
            }
        });
    });

var callback = function(result, xhr){
    plog(result);
    $('#pendingRes').text(result.result.retryUrl);



};
var plog = function(result){
    var codeHtml = '';
    codeHtml += '<div class="com-sm-4">';
    codeHtml += '       code :';
    codeHtml +=         result.code;
    codeHtml += '</div>'

    var resultHtml = '';
    resultHtml += '<div class="com-sm-8">';
    resultHtml += '       result : &nbsp;&nbsp; ';
    resultHtml +=         JSON.stringify(result.result);
    resultHtml += '</div>'
    console.log(codeHtml + resultHtml);
}

</script>

</body>
</html>